.header {
    background-color: #1e3a5f;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    padding: 10px 0px;
    z-index: 10;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    gap: 16px;
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 50px;
    height: 55px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-icon img {
    width: 100%;
    height: 100%;
}
.logo-text{
    display: flex;
    flex-direction: column;
}

.logo-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #f1f3f4;
}

.logo-subtitle{
    font-size: 0.75rem;
    color: #f1f3f4;
}

.nav{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.nav ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

.nav li{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: #f1f3f4;
    padding: 6px 10px;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
}

.nav a:hover{
    background: #f1f3f4;
    color: #1e3a5f;
    text-decoration: underline;
}

.nav a.active {
    background: #f1f3f4;
    color: #1e3a5f;
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 960px){
    .nav{
        display: none;
    }
}